name: Build and Publish Valtimo Backend Helm Chart

on:
  push:
    paths:
      - 'charts/valtimo-backend/**'
    branches:
      - main
      - release/1.x.x
      - release/2.x.x

jobs:
  build_valtimo_backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: install helm
        uses: Azure/setup-helm@v3
        with:
          version: 3.9.0

      - name: Add dependency chart repos
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.5.0
        with:
          charts_dir: charts/valtimo-backend
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

